.top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  /* list-style-type: none; */
  text-decoration: none;
}
.abtop{
  display: flex;
  padding-top: 300px;
}
.top ul{
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-left: 30px;
}
.p2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-top: 100px;
  text-transform: uppercase;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  
}
.btn1{
  width: 150px;
  height: 50px;
}
.title1{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 250px;
  font-size: 45px;
}
.para1{
  display: flex;
  justify-content: center;
  text-align: center;

}
.title2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding-top: 150px;
}
.para2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 300px;
}
.btn2{
  display: flex;
  justify-content: center;
  
}
.btn3{
  width: 100px;
  height: 40px;
  margin-top: 50px;
}
.content{
  display: flex;
  justify-content: space-around;
  margin-top: 250px;
  height: 500px;
}
.section1 .t2{
  font-size: 60px;
}
.section2 .t1{
  display: flex;
  align-items: center;
  gap: 10px;
}
.content h2{
  font-size: 40px;
}
.btn3{
  width: 200px;
  height: 60px;
  
}
.section3{
  display: flex;
  justify-content: end;
  padding-right: 150px;
  padding-top: 100px;
  height: 500px;


}
.rooter{
  background-color: black;
  color: white;
  width: 100%;
  height: 40%;
  padding-bottom: 100px;
  /* margin-top: 50px; */
}
.root1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.root3 h3{
  font-size: 40px;
}
.root2{
  display: flex;
  justify-content: end;
  padding-right: 300px;
  padding-top: 50px;
  /* margin-bottom: 200px; */
}
.abtop h2{
  font-size: 100px;
  align-self: end;
  width: 100%;
  height: 500px;
  padding-left: 100px;
}
.p1{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 100px;
  height: 500px;
}
.p3{
  gap: 100px;
}
.p3 h2{
  font-size: 50px;
  padding-left: 100px;
  height: 300px;
  width: 100%;
  align-items: end;
  margin-top: 300px;
}
.pr1{
  display: flex;
  justify-content: space-around;
  height: 300px;
}
.pr2{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  height: 300px;  
}
.se1{
  padding: 20px;
}
.s1{
  font-size: 50px;
  padding-left: 100px;
  height: 400px;
  padding-top: 200px;
}
.s2{
  display: flex;
  justify-content: center;
  font-size: 30px;
  height: 300px;
  font-weight: bold;
}
.container{
  display: flex;
}
.sl1{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
}
.sl3{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
}
.sl4{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.sl2{
  display: flex;
  justify-content: center;
}
.sl6{
  display: flex;
  justify-content: center;
}
.but{
  display: flex;
  justify-content: center;
  padding-bottom: 200px;

}
.btn8{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  /* padding-bottom: 100px; */

}
.sl6 h2{
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titl1{
  display: flex;
  padding-left: 100px;
  padding-top: 300px;
  font-size: 50px;
  height: 400px;

}
.tit1{
  display: flex;
  padding-left: 150px;
  font-size: 30px;
  padding-bottom: 100px;
}
.tit2{
  padding-left: 200px;
  gap: 30px;
  padding-bottom:50px ;
}
.tit2 p{
  font-size: 30px;
  padding-bottom: 30px;
}
.tit2 h2{
  font-size: 50px;
  
}
.tit2 Link p{
  text-decoration: none;
  font-size: 30px;
}
.title3{
  gap: 50px;
}
.c1{
  display: flex;
  padding-top: 300px;
  padding-left: 150px;
  font-size: 50px;
}
.c2{
  padding-left: 150px;
  font-size: 40px;
  padding-top: 100px;
}
.c5{
  /* display: flex; */
  padding-top: 200px;
  padding-left: 900px;
}
.c6{
  padding-top: 50px;
  padding-left: 900px;
  padding-bottom: 200px;
}
.img1{
  width: 100vw;
  height: 100vh;
}
.h1{
  padding-left: 100px;
}
.h1 h2{
  font-size: 40px;
}
.h1 p{
  font-size: 20px;
}
.h3{
  display: flex;
  justify-content: space-around;
  /* padding-top: 50px; */
  margin-top: 100px;

  align-items: center;
  margin-bottom: 100px;
   width: 100%;

}
.h3 h2{
  font-size: 30px;
} 
.h3 p{
  font-size: 15px;
align-items:flex-start;
  /* margin-bottom: 100px; */
}
.h6{
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  width: 100%;
  height: 500px;
  /* align-items: center; */
}
.h6 h2{
  /* align-self: self-end; */
  display: flex;
  align-items: start;
  font-size: 40px;
}
.h7{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 40px;
  
}
.h8{
  display: flex;
  width: 600px;
  height: 100px;
}
.but1{
  display: flex;
  justify-content: center;
  /* width: 100px; */
}
.btn2{
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  margin-bottom: 200px;
}
.co1{
  font-size: 20px;
  padding-left: 100px;
  margin-top: 100px;

}
.co2{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top: 100px;
}
.co2 h2{
  font-size: 30px;
}
.co3{
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
  margin-bottom: 100px;
}
.co3 h2{
  font-size: 30px;
}
.co4{
  display: flex;
  justify-content: space-around;
  margin-right: 150px;
}
.co4 h2{
  font-size: 30px;
}
.co5{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 200px;
}
.co5 p{
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 100px;
  /* margin-bottom: 200px; */
}
.co7{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-right: 50px;
  margin-bottom: 100px;
}